@model ProductsListViewModel

<div id="categories" class="col-3">
    <vc:navigation-menu category="@Model.CurrentCategory" />
</div>

<div class="col-9">
    <h4>Первая страница магазина</h4>

    @foreach (var product in Model?.Products ?? Enumerable.Empty<Product>())
    {
        <partial name="Partial/ProductCardPartial" model="product" />
    }

    <div page-model="@Model?.PagingInfo" page-action="Index"
        page-classes-enabled="true"
        page-class="btn" page-class-normal="btn-outline-dark"
        page-url-category="@Model?.CurrentCategory!"
        page-class-selected="btn-primary" 
        class="btn-group pull-right m-1">
    </div>
</div>
