@model IQueryable<Product>

<h4>Первая страница магазина</h4>

@foreach (var product in Model)
{
    <div>
        <h3>@product.Name</h3>
        @product.Description
        <h4>@product.Price.ToString("c")</h4>
    </div>
}