@page "/admin/products/details/{id:int}"
@inject IProductsRepo Repo

<h3 class="bg-info text-white text-center p-1">Просмотр</h3>

<table class="table table-sm table-bordered table-striped">
    <tbody>
    <tr><th>Id</th><td>@Product?.Id</td></tr>
    <tr><th>Название</th><td>@Product?.Name</td></tr>
    <tr><th>Описание</th><td>@Product?.Description</td></tr>
    <tr><th>Категория</th><td>@Product?.Category</td></tr>
    <tr><th>Цена</th><td>@Product?.Price.ToString("c")</td></tr>
    </tbody>
</table>

<NavLink class="btn btn-warning" href="@EditUrl">Редактировать</NavLink>
<NavLink class="btn btn-secondary" href="/admin/products">Назад</NavLink>

@code 
{
    [Parameter]
    public int Id { get; set; }
    public Product? Product { get; set; }
    protected override void OnParametersSet()
    {
        Product = Repo.Products.FirstOrDefault(x => x.Id == Id);
    }
    public string EditUrl => $"/admin/products/edit/{Product?.Id}";
}
