@model OrderViewModel

<h2>Покупка</h2>

<p>Пожалуйста, введите детали для доставки товаров</p>

<form asp-action="Checkout" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <h3>Доставка кому:</h3>
    <div class="form-group">
        <label>Имя:</label>
        <input asp-for="Name" class="form-control" />
    </div>
    <h3>Адрес доставки:</h3>
    <div class="form-group">
        <label>Улица:</label>
        <input asp-for="Line1" class="form-control" />
    </div>
    <div class="form-group">
        <label>Дом:</label>
        <input asp-for="Line2" class="form-control" />
    </div>
    <div class="form-group">
        <label>Квартира:</label>
        <input asp-for="Line3" class="form-control" />
    </div>
    <div class="form-group">
        <label>Город:</label>
        <input asp-for="City" class="form-control" />
    </div>
    <div class="form-group">
        <label>Область:</label>
        <input asp-for="State" class="form-control" />
    </div>
    <div class="form-group">
        <label>Страна:</label>
        <input asp-for="Country" class="form-control" />
    </div>
    <div class="form-group">
        <label>Индекс:</label>
        <input asp-for="Zip" class="form-control" />
    </div>
    <h3>Опции</h3>
    <div class="checkbox">
        <label>
            <input asp-for="GiftWrap" /> Упаковать в подарочную упаковку эти товары
        </label>
    </div>
    <div class="text-center">
        <input class="btn btn-primary" type="submit" value="Подтвердить заказ" />
    </div>
</form>
