@model OrderViewModel

<div class="text-center">
    <h2>Спасибо!</h2>
    <p>Спасибо за заказ под номером №@Model.Id.</p>
    <p>Мы доставим товары в ближайшее время.</p>
    <a class="btn btn-primary" asp-controller="Home" asp-action="Index">
        Вернуться в магазин
    </a>
</div>
