@model IEnumerable<string>

<div class="d-grid gap-2">
    <a class="btn btn-block btn-outline-secondary" 
        asp-controller="Home" asp-action="Index" asp-route-category="">
        Главная
    </a>

    @foreach (var category in Model)
    {
        <a class="btn btn-block @(category == ViewBag.SelectedCategory ? "btn-primary" : "btn-outline-secondary")"
            asp-controller="Home" asp-action="Index" asp-route-category="@category" asp-route-productPage="1">
            @category
        </a>
    }
</div>