<!DOCTYPE html>

<html lang="ru-ru">

<head>
    <partial name="Partial/_MetaPartial"/>

    <title>@ViewData["Title"] - JulietsStore</title>

    <partial name="Partial/_StylesPartial"/>
    
    @await RenderSectionAsync("Styles", false)
    
    <base href="~/" />
</head>

<body>

    <header>
        <partial name="Partial/_TopbarPartial" />

        <div class="container-fluid mb-5">
            <div class="row border-top px-xl-5">
                <div class="col-lg-3 d-none d-lg-block">
                    <partial name="Partial/_LeftSidebarPartial"/>
                </div>
                <div class="col-lg-9">

                    <partial name="Partial/_NavbarPartial"/>

                    @RenderBody()

                </div>
            </div>
        </div>
    </header>

    <partial name="Partial/_FooterPartial" />

    <!-- Back to top button -->
    <button type="button"
            class="btn btn-primary btn-floating btn-lg back-to-top">
        <i class="fas fa-arrow-up"></i>
    </button>

    <partial name="Partial/_ScriptsPartial"/>

    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>
