<div class="shadow-none d-flex align-items-center justify-content-between bg-primary text-white w-100" style="height: 65px; margin-top: -1px; padding: 0 30px;">
    <h6 class="m-0">Категории</h6>
</div>

<nav class="navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0">
    <div id="accordionSidebarCategories" class="navbar-nav w-100 accordion accordion-flush">
        <div class="nav-item dropdown border-0 accordion-item">
            <div class="nav-link p-0 accordion-header">
                <button data-bs-target="#collapseCategory1" class="accordion-button" type="button" data-bs-toggle="collapse" aria-expanded="true" aria-controls="collapseCategory1">
                    <span class="ms-2">Платья</span>
                </button>
            </div>
            <div id="collapseCategory1" data-bs-parent="#accordionSidebarCategories" class="bg-secondary border-0 rounded-0 w-100 m-0 accordion-collapse collapse show" >
                <div class="accordion-body px-0 py-1">
                    <a href="" class="nav-link">Женские платья</a>
                    <a href="" class="nav-link">Мужские платья</a>
                    <a href="" class="nav-link">Детские платья</a>
                </div>
            </div>
            <div class="nav-link p-0 accordion-header">
                <button data-bs-target="#collapseCategory2" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" aria-expanded="true" aria-controls="collapseCategory2">
                    <span class="ms-2">Костюмы</span>
                </button>
            </div>
            <div id="collapseCategory2" data-bs-parent="#accordionSidebarCategories" class="bg-secondary border-0 rounded-0 w-100 m-0 accordion-collapse collapse">
                <div class="accordion-body px-0 py-1">
                    <a href="" class="nav-link">Костюмы женские</a>
                    <a href="" class="nav-link">Костюмы мужские</a>
                    <a href="" class="nav-link">Костюмы детские</a>
                    <a href="" class="nav-link">Костюмы специальные</a>
                </div>
            </div>
        </div>
        <a href="" class="nav-item nav-link">Рубашки</a>
        <a href="" class="nav-item nav-link">Джинсы</a>
        <a href="" class="nav-item nav-link">Пижамы</a>
        <a href="" class="nav-item nav-link">Спортивная одежда</a>
        <a href="" class="nav-item nav-link">Футболки</a>
        <a href="" class="nav-item nav-link">Свитеры</a>
        <a href="" class="nav-item nav-link">Обувь</a>
        <a href="" class="nav-item nav-link">Шапки</a>
    </div>
</nav>
