<ul class="navbar-nav mr-auto py-0">
    <li class="nav-item">
        <a class="nav-link active" href="#">
            Главная
        </a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Каталог
        </a>
        <ul class="dropdown-menu">
            <li>
                <a href="#" class="dropdown-item">
                    Обычные товары
                </a>
            </li>
            <li>
                <a href="#" class="dropdown-item">
                    Специальные товары
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link">
            О магазине
        </a>
    </li>
</ul>
