<nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
    <a href="" class="text-decoration-none d-block d-lg-none">
        <h1 class="m-0 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold border px-3 mr-1">Juliets</span>Shop.ru</h1>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between">
        <partial name="Partial/_MainMenuPartial"/>

        <div class="navbar-nav ml-auto py-0">
            <a href="" class="nav-item nav-link">Вход</a>
            <a href="" class="nav-item nav-link">Регистрация</a>
        </div>
    </div>
</nav>
