@model LoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="ru-ru">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Аккаунт магазина Джульетты</title>

    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/lib/font-awesome/css/all.min.css" rel="stylesheet" />
</head>

<body>
<div class="bg-dark text-white p-2">
    <span class="navbar-brand ml-2">Магазин Джульетты</span>
</div>

<div class="m-1 p-1">
    <form asp-controller="Account" asp-action="Login" method="post">
        <div class="text-danger" asp-validation-summary="All"></div>
        <input type="hidden" asp-for="ReturnUrl" />
        <div class="form-group">
            <label asp-for="Name"></label>
            <div asp-validation-for="Name" class="text-danger"></div>
            <input asp-for="Name" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Password"></label>
            <div asp-validation-for="Password" class="text-danger"></div>
            <input asp-for="Password" type="password" class="form-control" />
        </div>
        <button class="btn btn-primary" type="submit">
            Вход
        </button>
    </form>
</div>
</body>

</html>
